<%- include('partials/navbar') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div id = "intro" class= "view">
<div class="full-bg-img">
</div>
    </div>


<%- include('partials/footer') %>
