<%- include('../partials/navbar') %>

<div class="addbackground">
<h1>Practice Add</h1>
<div class="addwrapper">
    <form action="practiceadd" method="POST" style= "width: 200px; margin: auto">
        <label> Primary Chord:
            <select class="form-control" name= "primaryChord" style= "width: 200px; margin: auto">
                <option value="A">A</option>
                <option value="Amaj7">Amaj7</option>
                <option value="A7">A7</option>
                <option value="Am">Am</option>
                <option value="Am7">Am7</option>
                <option value="B">B</option>
                <option value="Bmaj7">Bmaj7</option>
                <option value="B7">B7</option>
                <option value="Bm">Bm</option>
                <option value="Bm7">Bm7</option>
                <option value="C">C</option>
                <option value="Cmaj7">Cmaj7</option>
                <option value="C7">C7</option>
                <option value="Cm">Cm</option>
                <option value="Cm7">Cm7</option>
                <option value="D">D</option>
                <option value="Dmaj7">Dmaj7</option>
                <option value="D7">D7</option>
                <option value="Dm">Dm</option>
                <option value="Dm7">Dm7</option>
                <option value="E">E</option>
                <option value="Emaj7">Emaj7</option>
                <option value="E7">E7</option>
                <option value="Em">Em</option>
                <option value="Em7">Em7</option>
                <option value="F">F</option>
                <option value="Fmaj7">Fmaj7</option>
                <option value="F7">F7</option>
                <option value="Fm">Fm</option>
                <option value="Fm7">Fm7</option>
                <option value="G">G</option>
                <option value="Gmaj7">Gmaj7</option>
                <option value="G7">G7</option>
                <option value="Gm">Gm</option>
                <option value="Gm7">Gm7</option>
            </select>
            <label> Secondary Chord:
                <select class="form-control" name= "secondaryChord" style= "width: 200px; margin: auto">
                    <option value="A">A</option>
                    <option value="Amaj7">Amaj7</option>
                    <option value="A7">A7</option>
                    <option value="Am">Am</option>
                    <option value="Am7">Am7</option>
                    <option value="B">B</option>
                    <option value="Bmaj7">Bmaj7</option>
                    <option value="B7">B7</option>
                    <option value="Bm">Bm</option>
                    <option value="Bm7">Bm7</option>
                    <option value="C">C</option>
                    <option value="Cmaj7">Cmaj7</option>
                    <option value="C7">C7</option>
                    <option value="Cm">Cm</option>
                    <option value="Cm7">Cm7</option>
                    <option value="D">D</option>
                    <option value="Dmaj7">Dmaj7</option>
                    <option value="D7">D7</option>
                    <option value="Dm">Dm</option>
                    <option value="Dm7">Dm7</option>
                    <option value="E">E</option>
                    <option value="Emaj7">Emaj7</option>
                    <option value="E7">E7</option>
                    <option value="Em">Em</option>
                    <option value="Em7">Em7</option>
                    <option value="F">F</option>
                    <option value="Fmaj7">Fmaj7</option>
                    <option value="F7">F7</option>
                    <option value="Fm">Fm</option>
                    <option value="Fm7">Fm7</option>
                    <option value="G">G</option>
                    <option value="Gmaj7">Gmaj7</option>
                    <option value="G7">G7</option>
                    <option value="Gm">Gm</option>
                    <option value="Gm7">Gm7</option>
                </select>
            </label>
        <input type="submit" value="Chord Add" class="btn btn-outline-primary btn-lg">
    </form>
</div>
</div>
</main>
</body>
</html>